@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

@layer base {
  @font-face {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/ProductSans-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/ProductSans-Light.ttf) format("ttf");
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-pattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg width=%221920%22 height=%221080%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3Cpattern id=%22b%22 x=%220%22 y=%220%22 width=%2257.6%22 height=%2257.6%22 patternUnits=%22userSpaceOnUse%22%3E%3Cg clip-path=%22url(%23radius-clip)%22 transform=%22scale(.5)%22%3E%3Csvg width=%2257.6%22 height=%2257.6%22 viewBox=%220 0 100 100%22%3E%3Cg clip-path=%22url(%23a)%22 fill=%22rgba(69%2C 247%2C 120%2C 1)%22%3E%3Cpath opacity=%22.2%22 d=%22M50 50V0L0 50h50Z%22%2F%3E%3Cpath opacity=%22.6%22 d=%22M50 100V50L0 100h50Z%22%2F%3E%3Cpath opacity=%22.4%22 d=%22M100 50V0L50 50h50Z%22%2F%3E%3Cpath d=%22M100 100V50l-50 50h50Z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22rgba(69%2C 247%2C 120%2C 1)%22 transform=%22rotate(90 50 50)%22 d=%22M0 0h100v100H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E%3C%2Fg%3E%3Cg clip-path=%22url(%23radius-clip)%22 transform=%22matrix(.5 0 0 .5 28.8 28.8)%22%3E%3Csvg width=%2257.6%22 height=%2257.6%22 viewBox=%220 0 100 100%22%3E%3Cg clip-path=%22url(%23a)%22 fill=%22rgba(69%2C 247%2C 120%2C 1)%22%3E%3Cpath opacity=%22.2%22 d=%22M50 50V0L0 50h50Z%22%2F%3E%3Cpath opacity=%22.6%22 d=%22M50 100V50L0 100h50Z%22%2F%3E%3Cpath opacity=%22.4%22 d=%22M100 50V0L50 50h50Z%22%2F%3E%3Cpath d=%22M100 100V50l-50 50h50Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%3C%2Fg%3E%3C%2Fpattern%3E%3C%2Fdefs%3E%3Crect width=%22100%25%22 height=%22100%25%22 fill=%22rgba(6%2C 102%2C 35%2C 1)%22%2F%3E%3Crect width=%22100%25%22 height=%22100%25%22 fill=%22url(%23b)%22%2F%3E%3C%2Fsvg%3E");
}
